.song {
	background-color: #eaeaea;
	padding: 5px;
	border: 1px solid black;
	margin-top: 10px;
}

#log, #songs {
	margin-top: 20px;
}



.song-title, .song-title:hover {
	color: black;
	text-decoration: none;
	font-weight: normal;
}

textarea#songs_textarea {
	border: 2px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	font-size: 1.3em;
}

.youtube-result.selected {
	background-color: #c7dffc;
}

.youtube-result {
	cursor: pointer;
}

#launch-conversion {
	visibility: hidden;
}

.thumbnail {
	margin-top: 10px;
	padding: 0px;
}